{% extends "ipl/basic.html" %}
{% load cache %}


{% block title %}Assignment One Plot{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment One plot.

<div id="container"></div>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Matches per Season'
        },
        xAxis: {
            categories: [
                {% for season in season_list %}
                    '{{ season.season }}'
                    {% if not forloop.last %}, {% endif %}
        {% endfor %}
            ]
        },
        series: [{
            name: 'Seasons',
            data: [
                {% for season in season_list %}
                    {{ season.season__count }}
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
            ]
        }]
    });
</script>


{% endblock %}
{% endcache %}