{% extends "ipl/basic.html" %}
{% load cache %}
{% block title %}Assignment Three{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment Three page.

{% if extra_runs_conceded %}

{% for run in extra_runs_conceded %}
<p>{{ run.bowling_team }} -- {{ run.extra_runs__sum }} </p>
{% endfor %}

{% endif %}

<a href="{% url 'ipl:index' %}">Back to Start</a> <a href="{% url 'ipl:assignment3plot' %}">Go to Chart</a>
{% endblock %}
{% endcache %}


