{% extends "ipl/basic.html" %}
{% load cache %}
{% block title %}Assignment Two{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment Two page.
{{winners_per_season}}
{% if winners_per_season %}
{% for winner in winners_per_season %}
<p>
    {{winner}}
</p>
{% endfor %}

{% endif %}

<a href="{% url 'ipl:index' %}">Back to Start</a> <a href="{% url 'ipl:assignment2plot' %}">Go to Chart</a>
{% endblock %}
{% endcache %}