{% extends "ipl/basic.html" %}
{% load cache %}
{% block title %}Assignment Three Plot{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment One plot.

<div id="container"></div>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Matches per Season'
        },
        xAxis: {
            categories: [
                {% for team in extra_runs_conceded %}
                    '{{ team.bowling_team }}'
                    {% if not forloop.last %}, {% endif %}
        {% endfor %}
            ]
        },
        series: [{
            name: 'Extra Runs',
            data: [
                {% for team in extra_runs_conceded %}
                    {{ team.extra_runs__sum }}
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
            ]
        }]
    });
</script>
<a href="{% url 'ipl:assignment3' %}">Go back</a>

{% endblock %}
{% endcache %}
