{% extends "ipl/basic.html" %}
{% load cache %}
{% block title %}Assignment One{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment One page.

{% if season_list %}
<ul>
    {% for season in season_list %}
    <li>{{season.season}} -- {{season.season__count}}</li>
    {% endfor %}
</ul>
{% else %}
<p>
    Something Went Wrong
</p>
{% endif %}

<a href="{% url 'ipl:index' %}">Back to Start</a> <a href="{% url 'ipl:assignment1plot' %}">Go to Chart</a>
{% endblock %}
{% endcache %}


