{% extends "ipl/basic.html" %}
{% load cache %}
{% block title %}Assignment Four Plot{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment One plot.

<div id="container"></div>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Economical Bowlers'
        },
        xAxis: {
            categories: [
                {% for bowler in economical_bowlers %}
                    '{{ bowler.bowler }}'
                    {% if not forloop.last %}, {% endif %}
        {% endfor %}
            ]
        },
        series: [{
            name: 'Economies',
            data: [
                {% for bowler in economical_bowlers %}
                {{ bowler.economy }}
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
            ]
        }]
    });
</script>
<a href="{% url 'ipl:assignment4' %}">Go back</a>


{% endblock %}
{% endcache %}
