{% extends "ipl/basic.html" %}
{% load cache %}

{% block title %}Assignment Five{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment Five page.

{% if runrates %}
{% for runrate in runrates %}
{% for run in runrate %}
<p>{{run.over}} -- {{ run.total_runs__sum }}</p>
{% endfor %}
{% endfor %}
{% endif %}

<a href="{% url 'ipl:index' %}">Back to Start</a>

{% endblock %}
{% endcache %}
