{% extends "ipl/basic.html" %}
{% load cache %}

{% block title %}Assignment Five plot{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment One plot.
<div id="container"></div>
<script>
    Highcharts.chart('container', {

        title: {
            text: 'Mumbai Indians vs Rajasthan Royals Match# 513'
        },


        yAxis: {
            title: {
                text: 'Runrates'
            }
        },
        xAxis: {
            title: {
                text: 'Overs'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },


        series: [{
            name: 'Rajasthan Royals',
            data: [{% for runrate in runrates %}
            {% if forloop.counter == 1 %}
            {% for run in runrate %}
    {{ run.total_runs__sum }}
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}]

}, {
        name: 'Mumbai Indians',
            data: [{% for runrate in runrates %}
    {% if forloop.counter == 2 %}
    {% for run in runrate %}
    {{ run.total_runs__sum }}
    {% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% endif %}
    {% endfor %}]
}],

    responsive: {
        rules: [{
            condition: {
                maxWidth: 500
            },
            chartOptions: {
                legend: {
                    layout: 'horizontal',
                    align: 'center',
                    verticalAlign: 'bottom'
                }
            }
        }]
    }

});
</script>


{% endblock %}
{% endcache %}
