{% extends "ipl/basic.html" %}
{% load cache %}

{% block title %}Assignment Four{% endblock %}
{% cache 500 content %}
{% block content %}
This is my Assignment Four page.


{% if economical_bowlers %}
{% for bowler in economical_bowlers %}
<p> {{ bowler.bowler }} -- {{ bowler.economy}} </p>
{% endfor %}

{% endif %}

<a href="{% url 'ipl:index' %}">Back to Start</a> <a href="{% url 'ipl:assignment4plot' %}">Go to Chart</a>
{% endblock %}
{% endcache %}



