Click the assignment you want to see:

<ul>
    <li><a href="{% url 'ipl:assignment1' %}">Assignment One</a></li>
    <li><a href="{% url 'ipl:assignment2' %}">Assignment Two</a></li>
    <li><a href="{% url 'ipl:assignment3' %}">Assignment Three</a></li>
    <li><a href="{% url 'ipl:assignment4' %}">Assignment Four</a></li>
    <li><a href="{% url 'ipl:assignment5' %}">Assignment Five</a></li>
</ul>